/* #region COMMON RULES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flexbox{
    display: flex;
}

 body {
     font-family: 'Open Sans', sans-serif;
 }

a{
    text-decoration: none;
    color: antiquewhite;
}

i{
    display: inline-block;
}


.logo{
    display: inline-block;
    align-self: center;
    padding-right: 2rem;
}

 .head_link{
    padding: 1rem;
    
}

.row{
    flex-wrap: wrap;
    margin-top: 1rem;
}

.col_4{
    width: calc(100% / 3);
    
}

.col_12{
    width: 100%;
}

#plan_h2{
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* #endregion COMMON RULES  */


/* #region debug */

.debug_header{
    background-color: orange;
   
}

.debug_left_head, .debug_right_head{
    padding: 1rem;

}

.debug_p_bg{
    background-color: aquamarine;
}

.presentation_debug{
    background-color: darkslategrey;
    height: 600px;
}

.subscription_plan_bg_debug{
    background-color: chartreuse;
}

.debug_row{
    height: 1200px;
    background-color: aqua;
}

.debug_col_4{
    background-color: brown;
    border: 1px solid black;
    height: 1000px;
}

.debug_col_12{
    background-color: lightslategray;
    height: 200px;
}

.partner_bg_debug{
    background-color: firebrick;
}

.partnership_debug{
    width: 65%;
    margin: auto;
    height: 600px;
}

.debug_img_container{
    background-color: plum;
    border:1px solid black;    
}

.partner_text_debug{
    background-color: violet;
    border:1px solid black;
}

.functionality_debug{
    background-color: darkgreen;
}


.debug_row_functionality{
    height: 1000px;
}

.col_section_debug{
    height: 500px;
}

/* #endregion debug */

/* #region HEADER */

.header_container{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 15px;
}

#app_header{
    justify-content: space-between;
    height: 80px;
}

.left_head, .right_head{
    align-self: center;
}


/* #endregion HEADER */

/* #region MAIN */

/* #region presentation */

.presentation_container{
    flex-direction: column;  
    width: 80%;
    max-width: 1350px;
    margin: auto;
    padding-top: 1rem;
    justify-content: center;
    margin-top: 3rem; 
}

.presentation_bottom{
    position: relative;
    margin-top: 3rem;
}

#title{
    font-size: 3rem;
    flex-grow: 2;
    padding: 1rem;
    margin-top: 7rem;
}

.presentation_p, .presentation_span{
    padding-left: 2rem;
}

#jumbo{
    
    margin-top: 1rem;
    height: 500px;
  
}

.free_trial{
    display: inline-block;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 30px;
    margin-left: 8rem;
    background-color: blue;
}

/* #endregion presentation */

/* #region plan_subscription */



.plan_container{
    width: 65%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 12rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.checkbox_container{
    padding-right: 2rem;
}



/* #endregion plan_subscription */



/* #region partnership */

.partner_container{
    justify-content: center;
    padding: 5rem 0;
    
}

.img_container{
    width: 60%;
}

.partnership_text{
    width: 40%;
}

/* #endregion partnership */

/* #region functionality */

.functionality_container{
    width: 65%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 12rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.col_section{
    border: 1px solid black;
}

/* #endregion functionality */


/* /endregion MAIN */